:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-color: #2196f3;
  --text-color: #757575;
  --background-color: #ffffff;
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --border-color: #eeeeee;
  --info-color: rgba(255, 255, 255, 0.6);
}
body {
  color: var(--primary-text-color);
  background-color: var(--background-color);

  font-family: 'Raleway', 'Roboto', sans-serif;
}

ul {
  list-style: none;
}
/* Header */
.header {
  background: var(--background-color);
}
.logo,
.logfoot {
  color: var(--accent-color);
}
.logo-part {
  color: var(--primary-text-color);
}
.header-mail {
  color: var(--text-color);
}
.header-tel {
  color: var(--text-color);
}
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
/* Buttons */
.button {
  color: var(--primary-text-color);
  background: var(--button-background-color);
}
.button:hover,
.button:focus,
.button:active {
  color: var(--secondary-text-color);
  background: var(--accent-color);
}
.main-part {
  background: var(--background-color);
}
/* Footer */
.footer-part {
  background: var(--footer-background-color);
}
.address-location,
.logo-item {
  color: var(--secondary-text-color);
}
.address-mail,
.address-tel {
  color: var(--info-color);
}
.address-location:hover,
.address-location:focus,
.address-mail:hover,
.address-mail:focus,
.address-tel:hover,
.address-tel:focus {
  color: var(--accent-color);
}
/* Navigation part*/
.link {
  color: var(--primary-text-color);
}
.header-nav,
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.link:active {
  color: var(--accent-color);
}

/* Сховати заголовки */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
